<div class="tile-guessr-details-component">
    <div *ngIf="gameMapProperties$ | async as gameMapProperties">
        <div class="informationContainer">
            <h1 class="name">{{ gameMapProperties.name }}</h1>
            <h3 class="description">{{ gameMapProperties.desc }}</h3>
        </div>
        <div *ngIf="isLoading">
            <p>Loading</p>
        </div>
    </div>
    <div class="buttonsContainer">
        <button *ngIf="!isLoading" class="chooseButton" class="button" (click)="onChooseGameClicked()">Play
        </button>
    </div>
</div>