<div class="header-bar"></div>
<nav>
  <div class="card">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-button styleClass="home" [text]="true" [rounded]="true" routerLink="/welcome" label="Tile Guessr"
          icon="pi pi-map-marker"></p-button>
        <p-button styleClass="buttonStyle" [rounded]="true" routerLink="/tileGuessr" label="Le jeu"
          icon="pi pi-globe"></p-button>

      </div>
      <div class="p-toolbar-group-end">
        <span class="p-input-icon-left">
          <p-button styleClass="buttonStyle" [rounded]="true" routerLink="/credits" label="Crédits"
            icon="pi pi-info-circle"></p-button>
          <p-button styleClass="buttonStyle" [rounded]="true"
            onclick="window.open('https://github.com/baptisteRiviere/tileGuessr');return false;" label=""
            icon="pi pi-github"></p-button>
        </span>
      </div>
    </p-toolbar>
  </div>
</nav>

<router-outlet></router-outlet>