:host {
    height: 100%
}

#game-window {
    height: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 10% 75% 15%;
    margin: 0;
}

.informationContainer {
    grid-row: 1;
    grid-column: 1 / 3;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.mapContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 15px;
    height: 100%;
}

#guessingMapContainer {
    grid-column: 2;
    grid-row: 2;
}

#satelliteMapContainer {
    grid-column: 1;
    grid-row: 2 / 4;
}

.map {
    width: 100%;
    height: 90%;
}

#buttonsContainer {
    grid-column: 2 / 3;
    grid-row: 3;
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

canvas {
    display: block
}

#buttonsContainer .button {
    background-color: #f90;
    height: 70%;
    width: 20%;
}