<div id="game-window">
    <div id="title">{{title}}</div>

    <div id="information">
        <p id="description" style="font-size: 2vw;">{{description}}</p>
        <p style="color: aliceblue; font-size: 40px;">
            time : {{this.remainingTime/1000}} - round {{this.currentRoundIndex + 1 }}
        </p>
    </div>

    <div leaflet id="satelliteMap" class="map" [leafletOptions]="satelliteMapOptions"
        [(leafletCenter)]="satelliteMapCenter" [leafletMaxBounds]="satelliteMaxBounds">
        <div [leafletLayer]="materializedBounds"></div>
    </div>

    <div leaflet id="guessingMap" class="map" [leafletOptions]="guessingMapOptions"
        (leafletClick)="onGuessingMapClicked($event)" [leafletMaxBounds]="guessingMapMaxBounds">
        <div [leafletLayer]="guessingMarker"></div>
    </div>

    <div id="buttomTab">
        <button *ngIf="gameStatus=='WAITING_FOR_START'" id="startGameButton" class="button"
            (click)="onStartClicked()">Start</button>
        <button *ngIf="gameStatus=='PLAYING'" id="respawnButton" class="button"
            (click)="onRespawnClicked()">Respawn</button>
        <button *ngIf="gameStatus=='PLAYING'" id="guessButton" class="button" role="button"
            (click)="onGuessClicked()">Guess</button>
        <button *ngIf="gameStatus=='RESULT'" id="launchNextRoundButton" class="button" role="button"
            (click)="onLaunchNextRoundClicked()">Launch next round</button>
        <button *ngIf="gameStatus=='ENDED'" id="playAgainButton" class="button" role="button"
            (click)="onPlayAgainClicked()">Play again</button>
    </div>
</div>